<!-- <h1>This item has now been edited</h1> -->
<!-- <h2>New Description</h2> -->
<%#= image_tag @item.image_att.url(:medium) %>
<!-- <h3><%#= @item.title %></h3> -->
<!-- <h3><%#= @item.description %></h3> -->
<!-- <h3><%#= @item.price %></h3> -->
<!-- <h3><%#= @item.status %></h3> -->
