@import 'base';

.navbar {
  align-items: center;
  background-color: #512DA8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px;

  h2 {
    margin: 8px;
  }

  .nav_links {
    color: #FFF;
    a {
      margin: 0 20px;
      height: 100%;
      color: #FFF;
    }
    a:hover {
      color: $second-text;
      font-weight: 500;
    }
  }
}

.cat_bar {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px;

  .categories_links {
    a {
      margin: 0 20px;
      text-transform: capitalize;
    }
    a:hover {
      color: $dark-hover;
      font-weight: 500;
    }
  }
}

.logo {
  color: #FFF;
  // background-image: url(/system/items/image_atts/000/000/076/original/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  // background-color: red;
}

