// @import url('https://fonts.googleapis.com/css?family=Lora|Muli');

// $font-serif: 'Lora', serif;
$font-sans: "Avenir Next", sans-serif;

$light: #F4F4F4;
$dark: #696969;
$accent: #FEC007;
$light-text: #F4F4F4;
$primary-text: #212121;
$second-text: #757575;
$divider: #BCBCBC;
$background: #EDEDED;
$hover-accent: #F5dd95;

* {
	border: 1px solid red;
  color: $primary-text;
  font-family: $font-sans;
  text-decoration: none;
}

.kaminari {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}